h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="url"] {
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    text-overflow: hidden;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    gap: 10px;
    /* align-items: center; */
    justify-content: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}