.video-list {
    display: grid;
    /* each col is at least 300px, but can grow to 100% wide */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* narrower than 600px */
@media (max-width: 600px) {
    .video-list {
        grid-template-columns: 1fr;
    }
}