<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/common.css">
    <link rel="stylesheet" href="/static/style/download.css">
    {{template "header-css" .}}
    {{template "footer-css" .}}
    <title>Download Video</title>
</head>

<body>
    {{template "header" .}}
    <h1>Download Video</h1>
    <form method="POST">
        <input type="url" name="url" placeholder="Video URL" required>
        <div class="button-group">
            <button type="submit" name="color" value="audio-video">Download Video</button>
            <button type="submit" name="color" value="audio">Download Audio</button>
        </div>
    </form>
    {{template "footer" .}}
</body>

</html>