<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <title>Playlist</title>
    <link rel="stylesheet" href="/static/style/common.css">
    <link rel="stylesheet" href="/static/style/videos.css">
    {{template "playlist-video-card-css" .}}
    {{template "footer-css" .}}
</head>

<body>
    <h1>{{.playlist.Title}}</h1>
    <div class="video-list">
        {{range .unwatched}}
        {{template "playlist-video-card-html" .}}
        {{end}}
    </div>

    <h2>Watched</h2>
    <div class="video-list">
        {{range .watched}}
        {{template "playlist-video-card-html" .}}
        {{end}}
    </div>

    <p><a href="/logout">Logout</a></p>

    {{template "footer" .}}
</body>

</html>