<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.original.Title}}</title>
    <link rel="stylesheet" href="/static/style/common.css">
    <link rel="stylesheet" href="/static/style/video.css">
    <link rel="stylesheet" href="/static/style/status.css">
    {{template "header-css" .}}
    {{template "footer-css" .}}
</head>

<body>
    {{template "header" .}}
    <h1>Status</h1>
    <div class="status-container">
        <div class="ytdlp card">
            <h2>yt-dlp</h2>
            <div class="raw">
                {{.ytdlp}}
            </div>
        </div>
        <div class="ffmpeg card">
            <h2>ffmpeg</h2>
            <div class="raw">
                {{.ffmpeg}}
            </div>
        </div>
    </div>
    {{template "footer" .}}
</body>

</html>