<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.original.Title}}</title>
    <link rel="stylesheet" href="/static/style/common.css">
    <link rel="stylesheet" href="/static/style/video.css">
    {{template "footer-css" .}}
</head>

<body>

    <h1>{{.original.Title}}</h1>

    <div class="media-grid">
        {{range .videos}}
        <div class="media-card">
            <h3>{{.Source}} {{.Width}} x {{.Height}} @ {{.FPS}}</h3>
            <div class="video-container">
                <video controls playsinline preload="none">
                    <source src="/temp/{{.Token}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="media-download">
                <a href="/data/{{.Filename}}" download="{{.DownloadFilename}}">Download ({{.Size}}, {{.StreamRate}})</a>
            </div>
            {{if ne .Source "original"}}
            <div class="media-controls">
                <form action="/delete_video/{{.ID}}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
            {{end}}
        </div>
        {{end}}
        <div class="media-card new-transcode">
            <form action="/transcode_to_video/{{.original.ID}}" method="post">
                <input type="hidden" name="original_id" value="{{.original.ID}}">
                <label for="height-select">Height:</label>
                <select name="height" id="height-select">
                    <option value="144">144p</option>
                    <option value="240">240p</option>
                    <option value="360">360p</option>
                </select>

                <button type="submit">Transcode</button>
            </form>
        </div>
    </div>
    <div class="media-grid">
        {{range .audios}}
        <div class="media-card">
            <h3>{{.Kbps}}</h3>
            <div class="audio-container">
                <audio controls playsinline preload="none">
                    <source src="/temp/{{.Token}}">
                    Your browser does not support the audio tag.
                </audio>
            </div>
            <div class="media-download">
                <a href="/data/{{.Filename}}" download="{{.DownloadFilename}}">Download ({{.Size}}, {{.StreamRate}})</a>
            </div>
            {{if ne .Source "original"}}
            <div class="media-controls">
                <form action="/delete_audio/{{.ID}}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
            {{end}}
        </div>
        {{end}}
        <div class="media-card new-transcode">
            <form action="/transcode_to_audio/{{.original.ID}}" method="post">
                <input type="hidden" name="original_id" value="{{.original.ID}}">
                <label for="kbps-select">Kbps:</label>
                <select name="kbps" id="kbps-select">
                    <option value="64">64 kbps</option>
                    <option value="96">96 kbps</option>
                </select>

                <button type="submit">Transcode</button>
            </form>
        </div>
    </div>


    <script src="/static/script/save-media-progress.js"></script>

    {{template "footer" .}}
</body>

</html>